body {
  background-color: #fff8de;
  font-family: Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-family: Monaco, monospace;
  font-weight: 500;
}

.recipe {
  list-style: none;
  font-family: Helvetica, sans-serif;
}

.list-img {
  height: auto;
  width: 500px;
  border-radius: 25px;
}

.item-text {
  color: black;
}

.main-img {
  height: auto;
  width: 700px;
  border-radius: 20px;
}

.subtitle-one {
  text-align: center;
}
